.header{
	max-width: 1301px;
	margin:35px 100px 35px 100px;
	position: fixed;
	left: 0;
	top: 0;
}
.li{
	font-size: 16px;
	display: inline-block;
}
.li1{
	font-size: 22px;
	color: black;
	padding: 0 0 0;	
}
.li2{
	color: black;
	padding: 50px 0px 0px 70px;
}
.li3{
	color: black;
	padding: 50px 0px 0px 750px;
}
.li4{
	color: black;
	padding: 50px 0px 0px 50px;
}
.relative{
	margin:125px 300px 0px 80px;
	position: relative;
	height: 269px;
}
.pos-text{
	position: absolute;
	top: 75px;
	left: 30px;
	color: white;
	font-size: 32px;
}
.pos-text1{
	position: absolute;
	top: 45px;
	left: 30px;
	color: #F0F0F0;
	font-size: 15px;
}
.pos-text2{
	position: absolute;
	bottom: 102px;
	left: 30px;
	color: #FCFCFC;
	font-size: 15px;
}
.pos-text3{
	position: absolute;
	top: 45px;
	right: 195px;
	color: #F0F0F0;
	font-size: 12px;
}
.pos-text4{
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: #FCFCFC;
	font-size: 17px;
	background: #6294A2;
	background-size: width: 186px;height: 44px;
	border-radius: 22px;
	padding: 15px;
	box-sizing: border-box;
}
.pos-text5{
	position: absolute;
	top: 40px;
	right: 50px;
	color: #5E8A93;
	font-size: 12px;
	background: #FCFCFC;
	background-size: width: 124px;height: 26px;
	border-radius: 15px;
	padding: 10px;
	box-sizing: border-box;
}
